{% extends 'base.html' %}


{% block title %}
Index
{% endblock %}


{% block content %}
    {% for item in data %}
    <div class="card">
        <div class="card-header">
            {{ item.certificate_number }}
        </div>
        <div class="card-body">
            <h5>Company: {{ item.business_name }} ({{ item.sector }})</h5>
            <h5>{{ item.result }} - {{ item.date }}</h5>
            <a href="{% url 'poll_details_url' id=item.id %}" class="btn btn-primary">More</a>
        </div>
    </div>
    {% endfor %}
{% endblock %}